@import url("../../scss/indigo-pink.css");
@import url("../../scss/material-design-icons.css");
div{

   margin-top: 20%;
   text-align: center;
   margin-top:auto;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

}


.mat-selection-list{
    height: 200px;
    width: 300px;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .mat-list-option:hover{
   background-color:white;
  }

  .Heading{
     display: flex;
   flex-direction: row;
   justify-content: space-evenly
  }
