/* You can add global styles to this file, and also import other style files */
body { text-align: center; background-color: rgb(241.25,241.25, 241.25);}
@import url("./scss/indigo-pink.css");
h1{
  font-family: cursive;
}
h2{
  font-family: cursive;
}
h3{
  font-family: cursive;
}
